<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.faltenreich.snowglobe.MainApplication"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:label="Snow Globe"
        android:theme="@android:style/Theme.Material.NoActionBar">

        <activity
            android:name="com.faltenreich.snowglobe.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>